body, h1, h2, ul, footer, p, h3 {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

header, footer {
  /*text-shadow: 2px 2px 5px #3c3c3c;*/
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

li {
  display: inline-block;
}

q {
  font-size: 1.5rem;
  display: block;
  margin: 10px 0 0 10px;
  padding: 0 0 0 10px;
  font-weight: bold;
  border-left: 1px solid #1a1a1a;
}

q:before {
  content: '-"';
}

q:after {
  content: '"';
}

.icon {
  height: 50px;
  width: 50px;
  border: 1px solid #000;
  border-radius: 50px;
  opacity: .75;
}

.imgCover {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0%, rgba(255, 0, 0, 0.75));
  position: absolute;
  opacity: .6;
  transition: opacity 1s;
}

.imgCover:hover {
  opacity: 0;
  transition: opacity 2s;
}

/*--Navigation Styles--*/

nav {
  text-transform: uppercase;
  margin: 10px 0;
  text-align: center;
}

nav a {
  display: inline-block;
  padding: 20px 10px;
}

nav ul li {
  border-right: 1px solid #000;
}

nav ul li:last-child {
  border-right: none;
}

/*--Heading Styles--*/

header {
  width: 100%;
  height: 500px;
  position: relative;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%,
                                                 rgba(0, 0, 0, 0.50)),
                                                       url(../images/walkingDeadHeader.jpg);

  color: #cfcfcf;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

header a, footer a {
  color: #cfcfcf;
  transition: color 1s;
}

header a:hover, footer a:hover {
  color: #990000;
  transition: color 1s;
}

.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name {
  margin:  10px 0 0 10px;
  display: flex;
  align-items: center;
}

.name h1 {
  margin-left: 10px;
}

.hero {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.hero h1 {
  font-size: 5rem;
  margin-bottom: 10px;
}

.hero h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

/*--Content Stylings--*/

.content {
  width: 60%;
  margin: 0 auto;
  display: flex;
}

.content a {
  color: #990000;
  transition: color 1s;
}

.content a:hover {
  color: #000;
  transition: color 1s;
}

.content p {
  font-family: Helvetica;
  margin: 20px 0;
}

article {
  width: 60%;
}

article h2 {
  margin: 20px 0 0 0;
  font-size: 2.5rem;
}

article p {
  margin: 10px 10px 10px 0;
  color: #1a1a1a;
}

.articleAuthor {
  display: flex;
  align-items: center;
}

.articleAuthor .icon {
  width: 20px;
  height: 20px;
}

.articleAuthor small {
  font-size: .9rem;
  margin-left: 10px;
}

/*--Right Column Styling--*/

.sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sidebar p {
  text-align: left;
}

.authorInfo img {
  display: block;
  margin: 10px auto 0 auto;
}

.authorInfo h2 {
  margin: 5px 0 0 0;
}

.authorInfo ul {
  margin: 5px 0 0 0;
}

.advertisement {
  width: 90%;
  text-align: right;
  margin: 40px 0;
}

.advertisement img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.advertisement a {
  text-decoration: underline;
}

.sidebarSection {
  width: 90%;
}

.sidebarSection h3 {
  text-align: left;
}

/*--Footer Stylings--*/

footer {
  width: 100%;
}

footer h3 {
  text-align: center;
  font-size: 2rem;
  border-bottom: 1px solid #0a0a0a;
  border-top: 1px solid #0a0a0a;
  padding: 10px 0 5px 0;
}

.articleBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #1a1a1a;
}

.articleLink {
  width: 200px;
  height: 200px;
  color: #fafafa;
  position: relative;
}

.articleLink .imgCover {
  height: 200px;
  width: 200px;
}

.articleLink img {
  width: 200px;
  height: 200px;
}

.articleLink p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
}

.footerInfo {
  width: 100%;
  background-color: #2b2b2b;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #0a0a0a;
  justify-content: space-around;
}

.copyright {
  color: #cacaca;
}

.copyright > p {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}

.copyright img {
  margin: 10px;
}

@media(max-width: 980px) {
  .content {
    width: 90%;
  }

  .articleBar {
    width: 60%;
    margin: 0 auto;
  }
}
