body, h1, h2, ul, footer, p, h3 {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

header, footer {
  /*text-shadow: 2px 2px 5px #3c3c3c;*/
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

li {
  display: inline-block;
}

q {
  font-size: 1.5rem;
  display: block;
  margin: 10px 0 0 10px;
  padding: 0 0 0 10px;
  font-weight: bold;
  border-left: 1px solid #1a1a1a;
}

q:before {
  content: '-"';
}

q:after {
  content: '"';
}

.icon {
  height: 50px;
  width: 50px;
  border: 2px solid #000;
  border-radius: 50px;
  opacity: .75;
}

.imgCover {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0%, rgba(255, 0, 0, 0.75));
  position: absolute;
  opacity: .6;
  transition: opacity 1s;
}

.imgCover:hover {
  opacity: 0;
  transition: opacity 2s;
}

/*--Navigation Styles--*/

nav {
  text-transform: uppercase;
  margin: 10px 0;
  text-align: center;
}

nav a {
  display: inline-block;
  padding: 20px 10px;
}

nav ul li {
  border-right: 1px solid #000;
}

nav ul li:last-child {
  border-right: none;
}

/*--Heading Styles--*/

header {
  width: 100%;
  height: 500px;
  position: relative;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%,
                                                 rgba(0, 0, 0, 0.75)),
                                                       url(../images/walkingDeadHeader.jpg);
  color: #cfcfcf;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

header a, footer a {
  color: #cfcfcf;
  transition: color 1s;
}

header a:hover, footer a:hover {
  color: #990000;
  transition: color 1s;
}

header .imgCover {
  width: 100%;
  height: 500px;
  position: absolute;
}

.heading {
  display: flex;
  justify-content: space-around;
}

.name {
  margin:  10px 0 0 10px;
}

.name .icon {
  margin: 5px 0 0 0;
}

.name h1 {
  display: inline-block;
  height: 35px;
  width: 350px;
  vertical-align: top;
  margin: 20px 0 0 10px;
}

.hero {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.hero h1 {
  font-size: 5rem;
  margin-bottom: 10px;
}

.hero h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

/*--Content Stylings--*/

.content {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

article {
  width: 60%;
  background-color: blue;

}

article h2 {
  margin: 20px 0 0 0;
}

article p {
  margin: 10px 10px 10px 0;
}

.sidebar {
  width: 40%;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authorInfo h2 {
  display: inline-block;
  vertical-align: top;
  margin: 20px 0 0 0;
}

/*--Footer Stylings--*/

footer {
  width: 100%;
}

footer h3 {
  text-align: center;
  font-size: 2rem;
}

.articleBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.articleLink {
  width: 200px;
  height: 200px;
  color: white;
  position: relative;
}

.articleLink .imgCover {
  height: 200px;
  width: 200px;
}

.articleImage {
  width: 200px;
  height: 200px;
}

.articleLink p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
}

.footerInfo {
  width: 100%;
  background-color: #2b2b2b;
  display: flex;
  flex-wrap: wrap;
  border-top: 5px solid #0a0a0a;
  justify-content: space-around;
}

.copyright {
  color: #fff;
}

.copyright > p {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}

.copyright img {
  margin: 10px;
}

.footerNav {
  /*margin: auto 200px auto 0;*/
}
